:root {
    /*
    --f7-appbar-offset: var(--f7-appbar-height);
    --f7-appbar-extra-offset: 0px;
    --f7-appbar-bg-color: var(--f7-bars-bg-color);
    --f7-appbar-bg-color-rgb: var(--f7-bars-bg-color-rgb);
    --f7-appbar-bg-image: var(--f7-bars-bg-image);
    --f7-appbar-border-color: var(--f7-bars-border-color);
    --f7-appbar-link-color: var(--f7-bars-link-color);
    --f7-appbar-text-color: var(--f7-bars-text-color);
    */
    --f7-appbar-shadow-image: none;
    --f7-searchbar-input-text-color: #EB2E92;
  }
  .ios {
    --f7-appbar-height: 44px;
    --f7-appbar-inner-padding-left: 8px;
    --f7-appbar-inner-padding-right: 8px;
  }
  .md {
    --f7-appbar-height: 48px;
    --f7-appbar-inner-padding-left: 16px;
    --f7-appbar-inner-padding-right: 16px;
  }
  .aurora {
    --f7-appbar-height: 64px;
    --f7-appbar-inner-padding-left: 16px;
    --f7-appbar-inner-padding-right: 16px;
}
h2 {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
}
.row>.col, .row>[class*=col-] {
    width: 100px;
}
.cartaHome {
    width: 100px;
    height: auto;
}
.searchbar {
    border: 1px solid #EB2E92;
    border-radius: 20px;
}

.appbar-inner {
    background-color: #000;
}

.searchbar .input-clear-button {
    color: #EB2E92;
}

.searchbar .searchbar-icon {
    color: #EB2E92;
}

.searchbar input[type=search], .searchbar input[type=text] {
    background: transparent;
    color: #EB2E92;
}

.right svg {
    width: 40px;
}
.panel {
    background-color: #000;
}

.panel li {
    list-style: none;
    margin-top: 10%;
}

.panel a {
    text-decoration: none;
    color: #fff;
}
.panel a:hover {
    color: #53c431;
  }

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #53c431;
    width: 100%;
    height: 48px;
}

.thumbsUp {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.thumbsText {
    width: 100%;
    color: #fff;
    text-align: justify;
    margin-right: 10px;
}

.text{
    margin-bottom: 100px;
 }

 .page {
    background-color: #000;
}

.page-content {
    /* margin: 0 1em 0 1em; */
}

.page-content hr{
    width: 100%;
}

.page-content img{
    width: 80%;
}

.link {
     width: 60px;
}

.page>.toolbar, .view>.toolbar, .views>.toolbar {
    background-color: #000;
}

.block {
    margin: 0px;
}

.popup {
    background-color: #000;
}

.link svg {
    width: 40px;
    margin-top: 5px;
}

.carta {
    background-color: #53c431;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 5%;
}
.pink {
    background-color: #EB2E92;
}

.carta svg {
    margin-top: 15px;
    width: 35%;
    height: auto;
}

.aurora .toolbar-bottom-aurora .toolbar-inner, .ios .toolbar-bottom-ios .toolbar-inner, .md .toolbar-bottom-md .toolbar-inner, .toolbar-bottom .toolbar-inner {
    background-color: #000;
}


.wrapper {
    display: grid;
    margin-top: 10%;
    /* grid-template-columns: repeat(8, 1fr); */
    grid-gap: 20px;
    grid-auto-rows: 100px;
    grid-template-areas:
      "a a a a b b b b"
      "c c c c d d d d"
      "e e e e f f f f"
      "g g g g h h h h";
    align-items: start;
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }
  .item5 {
    grid-area: e;
  }
  .item6 {
    grid-area: f;
  }
  .item7 {
    grid-area: g;
  }
  .item8 {
    grid-area: h;
  }

  .item-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 110px;
      border-radius: 20px;
      background-color: #EB2E92;
  }

  .item-content img {
      margin: 5em;
  }

  .green {
      background-color: #53c431;
  }

  .textQS {
    color: #fff;
    text-align: justify;
    margin: 10px;
    font-size: .9em;
  }